.search
  .input
    background: #fff
    padding: .08rem
    margin: .08rem

    .fa
      color: rgba(0, 0, 0, .27)
    input
      outline: none
      padding: 0 .08rem
      flex: 1
      border: none