.footer
  box-shadow: 0 0 3px rgba(0, 0 0, .06), 0 0 2px rgba(0, 0, 0, .12)
  position: fixed
  right: 0
  bottom: 0
  left: 0
  background-color: rgba(255, 255, 255, .97)
  display: flex
  justify-content: center
  .icon
    text-align: center
    flex: 1
    font-size: .18rem
    line-height: .4rem
    &.router-link-active
      color: #2196f3
