.entrance
  background #fff
  padding .08rem .16rem
  margin-bottom: .08rem

  .row
    display flex
    padding: .08rem 0

  .col
    text-align center
  
  .icon
    margin 0 auto
    width .4rem
    height .4rem
    border-radius 50%
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    font-size: .18rem
    background-size: contain
    background-color: green
  
  .title
    text-align: center
    margin-top: .08rem
    font-size: .12rem
    color: rgba(0, 0, 0, .87)