.content
  padding: 0.08rem
  .base
    .price > span:first-child {
      color: red
    }
    .unit {
      font-size: .1rem
      color: #6d6d6d
    }
  .standard
    p
      margin: 0;
      padding: 0.04rem 0;
      font-size: 0.12rem;
    span
      border-radius: 0.03rem
      padding: 0.02rem 0.08rem
      margin: 0.04rem
      display: inline-block
      font-size: 0.1rem
      color: #000
      border: 0.01rem solid #000
      &.active
        border: 0.01rem solid red
        color: red
  .num
    margin-top: 0.08rem
    span
      padding-right: 0.2rem
      font-size: 0.12rem
    i
      padding: 0.04rem
    input
      padding: 0.02rem 0.04rem
      border: 0.01rem solid #888
      text-align: center
      margin: 0 0.08rem
      width: 0.5rem
      font-size: 0.12rem
      color: #000
