.history
  margin: 0.08rem
  .title
    font-size: 0.11rem
    color: rgb(148, 148, 148)
  .title, .list
    padding: 0.07rem 0
  span
    background-color: rgb(228, 228, 228)
    border-radius: 0.06rem
    padding: 0.07rem
    margin: 0.05rem 0.1rem 0.05rem 0
    display: inline-block
    font-size: 0.1rem