.title
  margin: 0 0 20px
  h2
    font-weight: 700
.images
  padding: 0.08rem
  ul.cards
    width: 100%
    margin: 0 auto 20px
    height: auto
    list-style-type: none
    position: relative
    padding: 20px 0
    cursor: pointer
    text-align: center
    li.card
      background: #FFF
      overflow: hidden
      height: 1rem
      width: 1.8rem
      border-radius: 10px
      position: absolute
      left: 0px
      box-shadow: 1px 2px 2px 0 #aaa
      transition: all 0.4s cubic-bezier(.63,.15,.03,1.12)
      background-size: cover
      background-repeat: no-repeat
      &.card-0
        z-index: 10
        transform: rotateZ(-2deg)
      &.card-1
        z-index: 9
        transform: rotateZ(-7deg)
        transition-delay: 0.05s
      &.card-2
        z-index: 8
        transform: rotateZ(5deg)
        transition-delay: 0.1s
    
    &.active
      li.card
        transform: rotateZ(0deg)
        width: 48%
        index = 0
        for row in 0..10
          if row % 2 == 0
            &.card-{row}
              transform: translateY((row - index) * 105%)
          else
            index += 1
            &.card-{row}
              transform: translate(108%, (row - index) * 105%)
        