.card
  padding: 0.08rem
  position: relative
  border-bottom: 0.005rem dashed
  .image
    width: .9rem
    height: .9rem
    background-size: cover
  .content
    position: absolute
    top: 0
    left: .9rem
    padding: 0.06rem
    padding-left: .2rem
    .name > span:last-child
      color: #000
    .name, .descript
      margin-bottom: 0.04rem
    .descript
      font-size: .11rem
      color: #6d6d6d
    .name > span:first-child, .unit, .pro {
      font-size: .1rem
      color: #6d6d6d
    }
    .price .pro {
        margin-left: .09rem
        color: #ff7c00
        border: 0.01rem solid #ff7c00
        padding: 0 .02rem
      }
    .price > span:first-child {
      color: green
    }